<header>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1>Netatmo</h1>

    <span class="spacer"></span>

    <mat-select [value]="selectedHome$ | async" (valueChange)="selectHome($event)">
      <mat-option *ngFor="let home of homes$ | async" [value]="home.id">
        {{ home.name }}
      </mat-option>
    </mat-select>

    <span class="spacer"></span>

    <mat-icon *ngIf="accessToken">account_circle</mat-icon>
  </mat-toolbar>
</header>
