<ng-container *ngIf="{ logs: logs$ | async, logEntryEntities: logEntryEntities$ | async } as vm">
  <mat-card *ngFor="let log of vm.logs">
    <ng-container *ngIf="log.entries.length === 1">
      <mat-card-header>
        <svg mat-card-avatar *ngIf="log.geoJson" [logFromGeoJson]="log.geoJson"></svg>
        <mat-card-title>{{ log.title }}</mat-card-title>
        <mat-card-subtitle>{{ log.startDate | date }}</mat-card-subtitle>
        <mat-card-subtitle>{{ log.distance / 1000 | number: '1.0-1' }}km</mat-card-subtitle>
      </mat-card-header>
    </ng-container>

    <mat-expansion-panel class="mat-elevation-z0" *ngIf="log.entries.length > 1">
      <mat-expansion-panel-header>
        <mat-card-header>
          <svg mat-card-avatar *ngIf="log.geoJson" [logFromGeoJson]="log.geoJson"></svg>
          <mat-card-title>{{ log.title }}</mat-card-title>

          <mat-card-subtitle>{{ log.startDate | date }} - {{ log.endDate | date }}</mat-card-subtitle>
          <mat-card-subtitle>{{ log.distance / 1000 | number: '1.0-1' }}km</mat-card-subtitle>
        </mat-card-header>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-card-content>
          <mat-list dense role="list">
            <ng-container *ngFor="let entryId of log.entries">
              <mat-list-item role="listitem" *ngIf="vm.logEntryEntities[entryId] as entry">
                <svg matListItemIcon *ngIf="entry.geoJson" [logFromGeoJson]="entry.geoJson" [size]="30"></svg>
                <div matListItemTitle>{{ entry.title }} ({{ entry.distance / 1000 | number: '1.0-1' }}km)</div>
                <div matListItemLine class="metrics">
                  <mat-icon>speed</mat-icon>
                  {{ entry.averageMovingSpeed | number: '1.0-1' }} km/h
                  <mat-icon>landscape</mat-icon>
                  {{ entry.elevationGain | number: '1.0-0' }} m
                  <mat-icon>device_thermostat</mat-icon>
                  {{ entry.averageTemperature | number: '1.0-0' }} °C
                </div>
              </mat-list-item>
            </ng-container>
          </mat-list>
        </mat-card-content>
      </ng-template>

      <mat-divider></mat-divider>
    </mat-expansion-panel>

    <mat-card-actions>
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let tag of log.tags">{{ tag }}</mat-chip-option>
      </mat-chip-listbox>

      <span class="spacer"></span>

      <button mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button (click)="fit(log)">
        <mat-icon>crop_free</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-footer>
      <mat-progress-bar *ngIf="log.load !== RequestState.Success" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</ng-container>
