mat-sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

main {
  height: 100%;
}

button {
  position: absolute;
  top: 12px;
  right: 4px;
}

mat-sidenav {
  width: 500px;
}
