@use '@angular/material' as mat;

$light-primary-text: #ffffff;
$dark-primary-text: #11151f;

$palette-light-primary: mat.define-palette(mat.$indigo-palette);
$palette-light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$palette-light-warn: mat.define-palette(mat.$red-palette);
$palette-dark-primary: mat.define-palette(mat.$blue-grey-palette);
$palette-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$palette-dark-warn: mat.define-palette(mat.$deep-orange-palette);

$palette-light-primary: mat.define-palette(mat.$indigo-palette);
$palette-light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$palette-light-theme: mat.define-light-theme($palette-light-primary, $palette-light-accent);
$palette-dark-primary: mat.define-palette(mat.$blue-grey-palette);
$palette-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$palette-dark-warn: mat.define-palette(mat.$deep-orange-palette);

$typography: mat.define-typography-config();

$theme-light: mat.define-light-theme(
  (
    color: (
      primary: $palette-light-primary,
      accent: $palette-light-accent,
      warn: $palette-light-warn,
    ),
    typography: $typography,
  )
);

$theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $palette-dark-primary,
      accent: $palette-dark-accent,
      warn: $palette-dark-warn,
    ),
    typography: $typography,
  )
);
