mat-sidenav-container {
  mat-sidenav-content {
    min-height: calc(100vh - 64px);

    @media screen and (max-width: 600px) {
      min-height: calc(100vh - 56px);
    }
  }

  ::ng-deep .mat-drawer-content {
    overflow: hidden;
  }
}

.is-mobile mat-sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  width: 250px;

  .user {
    padding: 10px;

    font-family: Roboto, 'Helvetica Neue', sans-serif;

    img {
      width: 45px;
      height: 45px;
      margin-bottom: 10px;

      border-radius: 50%;
    }

    .info {
      display: flex;
      flex-direction: column;

      font-size: 14px;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .mat-nav-list {
    padding-top: 0;

    .mat-list-item {
      &.active {
        background-color: lightgrey;
      }

      .mat-list-icon {
        padding-right: 15px;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;

    font-size: 0.8em;
  }
}
