:host {
  display: flex;

  svg {
    overflow: visible;

    ::ng-deep path {
      stroke-width: 2px;
      stroke: black;
      fill: #fff;
    }
  }
}

.mdc-list-item {
  padding: 0;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-left: 4px;
  margin-right: 8px;
}

.metrics {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;

  > mat-icon:not(:first-child) {
    margin-left: 8px;
  }
}
