@use '@angular/material' as mat;


@include mat.list-density(-5);

:host {
  display: block;
  height: calc(100vh - 64px);

  @media screen and (max-width: 600px) {
    height: calc(100vh - 56px);
  }

  --mdc-list-list-item-label-text-size: 12px;
  --mdc-list-list-item-supporting-text-size: 12px;
  --mdc-list-list-item-supporting-text-line-height: 12px;
  --mdc-list-list-item-leading-avatar-shape: 0px;
}

cdk-virtual-scroll-viewport {
  height: 100%;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;

  border-bottom: 1px #ece8e8 solid;
  cursor: pointer;
  padding: 0 8px;

  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

h3 {
  font-size: 12px;
  margin: 0;
}

p {
  margin: 0;
  font-size: 12px;
  color: grey;
}

img {
  object-fit: scale-down;
  margin: 8px;
}

