mat-list-item ::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
  align-items: center;

  & > span:first-child {
    margin-right: 16px;
  }
}

button:not(.enabled) {
  opacity: 0.4;
}

:host > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
