@if (interval(); as interval) {
  <div>
    <div class="row">
      <button mat-icon-button (click)="previous()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <div>
        @switch (interval.type) {
          @case (IntervalType.Day) {
            {{ interval.begin | date: 'mediumDate' }}
          }
          @case (IntervalType.Week) {
            {{ interval.begin | date: 'd' }}-{{ interval.end | date: 'd MMMM yyyy' }}
          }
          @case (IntervalType.Month) {
            {{ interval.begin | date: 'MMMM yyyy' }}
          }
          @case (IntervalType.Year) {
            {{ interval.begin | date: 'yyyy' }}
          }
        }
      </div>

      <button mat-icon-button [disabled]="asNext() === false" (click)="next()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>

    <mat-button-toggle-group name="intervalType" [value]="interval.type" (change)="changeIntervalType($event.value)">
      @for (kv of IntervalType | keyvalue: unsorted; track kv.key) {
        <mat-button-toggle [value]="kv.value">{{ kv.key }}</mat-button-toggle>
      }
    </mat-button-toggle-group>
  </div>
}

<div class="row">
  <button mat-icon-button class="enabled" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>

  <button mat-icon-button [class.enabled]="autoRefresh()" (click)="changeAutoRefresh(!autoRefresh())">
    <mat-icon>autorenew</mat-icon>
  </button>

  <button mat-icon-button [class.enabled]="temparatureForecast()" (click)="toggleTemperatureForecast(!temparatureForecast())">
    <mat-icon>thermostat</mat-icon>
  </button>

  <button mat-icon-button [class.enabled]="humidityForecast()" (click)="toggleHumidityForecast(!humidityForecast())">
    <mat-icon>water_drop</mat-icon>
  </button>
</div>

<mat-list role="list">
  @for (room of rooms(); track room.id) {
    <mat-list-item role="listitem">
      <span>{{ room.name }}</span>
      <div class="spacer"></div>

      @for (id of room.module_ids; track id) {
        @if (modules()![id]; as module) {
          @for (measureType of module.measureType; track measureType) {
            <button
              mat-icon-button
              [class.enabled]="enabledModulesType()![id + measureType]"
              [style.color]="module.measureTypeColors[measureType]"
              (click)="toggleEnabled(id, measureType, !enabledModulesType()![id + measureType])"
            >
              <mat-icon>{{ MEASURE_TYPE_ICONS[measureType] }}</mat-icon>
            </button>
          }
        }
      }
    </mat-list-item>
  }
</mat-list>
