@use '@angular/material' as mat;

$light-primary-text: #ffffff;
$dark-primary-text: #11151f;

$primary: (
  main: #1a1a1a,
  lighter: #bababa,
  darker: #0f0f0f,
  contrast: (
    main: $light-primary-text,
    lighter: $light-primary-text,
    darker: $dark-primary-text,
  ),
);
$palette-primary: mat.define-palette($primary, main, lighter, darker);

$accent: (
  main: #1976d2,
  lighter: #bad6f2,
  darker: #0e59c1,
  contrast: (
    main: $light-primary-text,
    lighter: $light-primary-text,
    darker: $dark-primary-text,
  ),
);
$palette-accent: mat.define-palette($accent, main, lighter, darker);

$warn: (
  main: #ed7e00,
  lighter: #fad8b3,
  darker: #e56100,
  contrast: (
    main: $light-primary-text,
    lighter: $light-primary-text,
    darker: $dark-primary-text,
  ),
);
$palette-warn: mat.define-palette($warn, main, lighter, darker);

$typography: mat.define-typography-config();

$theme-light: mat.define-light-theme(
  (
    color: (
      primary: $palette-primary,
      accent: $palette-accent,
      warn: $palette-warn,
    ),
    typography: $typography,
  )
);

$theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: $palette-primary,
      accent: $palette-accent,
      warn: $palette-warn,
    ),
    typography: $typography,
  )
);
