:host {
  display: flex;
  flex-wrap: wrap;
}

mat-card {
  flex: 0 0 calc(50% - 10px);
  box-sizing: border-box;
  margin: 5px;
  overflow: hidden;

  cursor: pointer;
}

mat-card-header {
  mat-icon {
    width: 24px;
    height: 24px;
  }
}

.mat-card-header .mat-card-title {
  font-size: 14px;
}
